//frameworks
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";

$mobile: new-breakpoint(max-width 500px 4);

body {
	@include outer-container;
}

html {
	font-family: $helvetica;
	font-size: 16px;
}

nav {
	@include span-columns( 4 );
	@include media( $mobile ) {
		@include span-columns( 3 );
	}
}

#Contents {
	@include span-columns( 8 );
	@include omega();
	@include media( $mobile ) {
		@include span-columns( 3 );
	}
}

#Overlay {
	background: rgba( 0, 0, 0, .5 );
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
#Overlay.show {
	display: block;
}

$overlayMenu-height: 15rem;
$overlayMenu-width: 30rem;
#Overlay__Menu {
	background: #fff;
	height: $overlayMenu-height;
	left: 50%;
	margin: ( -$overlayMenu-height / 2 ) 0 0 ( -$overlayMenu-width / 2 );
	position: absolute;
	top: 50%;
	width: $overlayMenu-width;
}
