html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

html {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px; }

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  nav:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    nav {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 73.14426%; }
      nav:last-child {
        margin-right: 0; } }

#Contents {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0; }
  #Contents:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #Contents {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 73.14426%; }
      #Contents:last-child {
        margin-right: 0; } }

#Overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

#Overlay.show {
  display: block; }

#Overlay__Menu {
  background: #fff;
  height: 25rem;
  left: 50%;
  margin: -7.5rem 0 0 -15rem;
  position: absolute;
  top: 50%;
  width: 30rem; }

/*# sourceMappingURL=common.css.map */
